<%- include('partials/_header.ejs') %>

    <div class="container text-center mt-5">
        <h1>Reportes</h1>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4 text-center">
                <div>
                    <h4>Productos Más Demandados</h4>
                </div>
                <table id="example" class="table table-responsive table-striped table-active shadow p-3 mb-5 bg-white rounded">
                    <tr>
                        <th>Código</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                    </tr>
                    <% for (let i=0; i < inventario.length; i++) { %>
                        <tr>
                            <% if (inventario[i].cantidad>= 10) { %>
                                <th>
                                    <%= inventario[i].codigo %>
                                </th>
                                <th>
                                    <%= inventario[i].producto %>
                                </th>
                                <th>
                                    <%= inventario[i].cantidad %>
                                </th>

                                <% } %>
                        </tr>
                        <% } %>

                </table>
            </div>

            <div class="col-md-6 mt-4 text-center">
                <div>
                    <h4>Productos Menos Demandados</h4>
                </div>
                <table id="example" class="table table-responsive table-striped table-active shadow p-3 mb-5 bg-white rounded">
                    <tr>
                        <th>ID</th>
                        <th>Total Venta</th>
                        <th>Fecha</th>
                    </tr>
                    <% for (let i=0; i < inventario.length; i++) { %>
                        <tr>
                            <% if (inventario[i].cantidad <=5) { %>
                                <th>
                                    <%= inventario[i].codigo %>
                                </th>
                                <th>
                                    <%= inventario[i].producto %>
                                </th>
                                <th>
                                    <%= inventario[i].cantidad %>
                                </th>

                            <% } %>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>

    <div class="container fluid">
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>



    <div class="mx-auto" style="width: 200px;">
        <a href="grafico">
            <button type="button" class="btn btn-dark btn-lg btn-block">  
                <h2 class="align-center">GRÁFICO </h2> 
            </button>
        </a>
      </div>

<%- include('partials/_footer.ejs') %>